/* Delete Button on Galeri Image (background) */
.galery-remove {
    border-radius:0 !important;
}

/* Hover Effect on Galeri Image  */
.img-galery { margin-top: 5px; }
.img-galery:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {    
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1230; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */    
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1100px;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-modal:hover,
.close-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.cke_contents_ltr {
    border: 1px dotted black;
}